<style>
</style>
<template>
    <div>
        <div class="base_table">
            <div class="tb_title">
                <span class="tb_title_txt">
                    <span class="contract_icon icon"></span>
                    <span>{{ lang.contract_name }}</span>
                </span>
                <span v-if="is_mobile">{{ lang.contract_name }}</span>
            </div>
            <div class="table_config" v-if="!brief">
                <div class="fakeloader">
                    <div class="fl spinner4"></div>
                </div>
            </div>
            <div class="detail_tb_ct">
                <table class="base_tb_ct" v-if="brief">
                    <thead>
                        <tr class="">
                            <td>
                                <div>
                                    {{ lang.contract_info }}
                                </div>
                            </td>
                            <td>
                                <div>
                                    
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tr class="">
                        <td class="w_200">
                                {{ lang.contract_account }}:
                        </td>
                        <td>
                            <div>
                                {{ detail.contract_name }}
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="w_200">
                                {{ lang.action }}:
                        </td>
                        <td>
                            <div>
                                <span v-for="item in detail.actions.split(';')" class="mgr_10">
                                    {{ item }}                                
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="view_foot_more" v-if="detail">
                    <router-link class="blue_ft" :to="{name: 'account_detail_view', params: {account_name: detail.contract_name}}">
                        <span>查看账户详情</span>
                        <span class="view_detail_arrow"></span>
                    </router-link>
                </div>
            </div>
        </div>
        <!-- block origin data -->
        <br/>
        <div class="base_table">
            <div class="tb_title tb_title_gray tb_title_white">
                <span>{{ lang.transaction }}</span>
            </div>
            <account_transaction_table></account_transaction_table>
        </div>
    </div>
</template>
<script>
import {
    get_account_detail,
    get_account_transactions,
    get_account_all_info,
    get_account_info,
    get_contract_info
} from '../../service/eos_service.js'
import  account_transaction_table from './contract_account_transaction.vue'
import {
    json_html_style,
    time_plus_hours,
    symblo_change
} from '../utils/utils.js'
import { lang } from '../../data/lang.js'
import load_fns from '../common/load_fns.js'
import store from '../../data/store.js'
export default {
    data () {
        return {
            on_load: true,
            load_timestamp: new Date().getTime(),
            account_name: 'chen123',
            detail: null,
            brief: null,
            lang: lang.data
        }
    },
    mounted(){
        this.get_account_detail();
    },
    watch: {
        '$route.params.account_name' () {
            this.reset();
            this.get_account_detail();
        }
    },
    computed: {
        is_mobile : () => {
            return store.state.global_config.is_mobile
        }
    },
    components: {
        account_transaction_table
    },
    methods: {
        reset () {
            this.brief = null;
            this.detail = null;
        },
        async get_account_detail () {
            this.account_name = this.$route.params.account_name;
            let post_time = this.start_load(true);
            this.brief = await get_contract_info(this.account_name);
            this.detail = this.brief.contract_info;
            // this.brief = await get_account_info(this.account_name);
            // if(!this.brief.origin_data){
            //     this.detail = await get_account_detail(this.account_name);
            // }else{
            //     this.detail = JSON.parse(this.brief.origin_data);
            // }
            this.finish_load();
        },
        json_html_style,
        symblo_change,
        ...load_fns
    }
}
</script>