<template>
    <div>
        <div class="table_config" v-if="on_load && !this.show_data.length">
            <div class="fakeloader">
                <div class="fl spinner4"></div>
            </div>
        </div>
        <div class="tb_ct">
            <table class="base_tb_ct" v-if="!on_load || (is_mobile && this.show_data.length)">
                <tr>
                    <th>
                        {{ lang.block_id }}
                    </th>
                    <th>
                        {{ lang.transaction }}
                    </th>
                    <th>
                        {{ lang.time }}
                    </th>
                    <th>
                        {{ lang.producer }}
                    </th>
                </tr>
                <tr v-for="item, index in show_data" v-bind:class="{'tr_bg': index%2 == 0}">
                    <td>
                        <div class="w_70 pc_module">
                            <router-link :to="{name: 'block_detail_view', params: {block_num: item.block_num}}">{{ item.block_num }}</router-link>
                        </div>
                        <div class=" mobile_ct">
                            <router-link class="blue_ft" :to="{name: 'block_detail_view', params: {block_num: item.block_num}}">{{ item.block_num }}</router-link>
                        </div>
                    </td>
                    <td>
                        <div class="w_100 td_more_show pc_module">{{ item.transaction_length }}</div>
                        <div class=" mobile_ct">
                            {{ item.transaction_length }}
                        </div>
                    </td>
                    <td>
                        <div class="w_150 pc_module" v-html="item.timestamp ? time_plus_hours(item.timestamp) : '...' ">
                        </div>
                        <div class="mobile_width_120 mobile_ct">
                            {{ item.timestamp ? time_plus_hours(item.timestamp) : '...'  }}
                        </div>
                    </td>
                    <td>
                        <div class="w_100 pc_module">{{ item.producer }}</div>
                        <div class="mobile_width_60 mobile_ct no_wrap ">
                            <router-link class="blue_ft" :to="{name: 'account_detail_view', params: {account_name: item.producer}}">{{ item.producer }}</router-link>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="get_more_ct mobile_ct" v-if="this.show_data.length">
            <a class="more_action_item get_more_action" v-if="(has_more && !on_load) || is_auto_load" href="javascript:;" @click="next">{{ lang.view_more }}</a>
            <span class="more_action_item gray_info_txt" v-if="has_more && on_load && !is_auto_load" href="javascript:;">{{ lang.on_loading }}</span>
            <span class="more_action_item gray_info_txt" v-if="!has_more" href="javascript:;">{{ lang.no_more_data }}</span>
        </div>
    </div>
</template>
<script>
import table_nav from '../common/table_nav.vue'
import {
    get_block_list
} from '../../service/eos_service.js'
import { time_plus_hours, is_mobile } from '../utils/utils.js'
import { lang } from '../../data/lang.js'
import store from '../../data/store.js'
import load_fns from '../common/load_fns.js'
export default {
    data () {
        return {
            on_load: false,
            is_auto_load: false,
            has_more: true,
            load_timestamp: new Date().getTime(),
            data_timestamp: new Date().getTime(),
            page_index: 1,
            page_num: 1,
            page_items_num: 10,
            show_data: [],
            page_list: [],
            lang: lang.data,
        }
    },
    components: {
        table_nav
    },
    computed: {
        is_mobile : () => {
            return store.state.global_config.is_mobile
        }
    },
    mounted () {
        this.init();
        this.get_data();
    },
    destroyed () {
        this.reset();
    },
    methods: {
        init () {
            this.page_index = 1;
        },
        reset () {
            this.page_index = 0;
        },
        get_data(page_index, is_auto = true){
            this.page_index = !page_index ? this.page_index : page_index;
            if(!this.page_index) return ;
            this.is_auto_load = is_auto;
            let post_time = this.start_load(true);
            get_block_list(this.page_index, this.page_items_num)
            .then((res) => {
                if(!this.diff_data_timestamp(post_time)){
                    return ;
                }
                if(!res){
                    this.finish_load();
                    this.auto_update();
                    return ;
                }
                this.page_num = res.data.total_page_num;
                if(this.page_index == 1){
                    this.show_data.splice(0, this.show_data.length, ...res.data.items)
                }else{
                    this.show_data.splice(this.show_data.length, 0, ...res.data.items);
                }
                if(res.data.items.length < 10){
                    this.has_more = false;
                }
                this.finish_load();
                this.auto_update();
            });
        },
        ...load_fns,
        auto_update () {
            setTimeout(() => {
                if(this.page_index == 1){
                    this.get_data(null, true);
                }
            }, 3000);
        }
    }
}
</script>



