<style>
body{
    background-color: #010415;
}
body a{
    text-decoration: none;
}

</style>
<template>
    <div>
        <div class="head_logo"></div>
        <div class="main_banner">
            
        </div>
        <div class="main_content">
            <div class="main_logo"></div>
            <div class="main_logo_txt" v-bind:class="logo_txt_class">
                Force <span class="ml">BitcoinCash</span>
            </div>
            <div class="main_banner_txt_ct">
                <div class="main_banner_line"></div>
                <div class="main_banner_txt">{{ lang.banner }}</div>
                <div class="main_banner_line main_banner_right_line"></div>
            </div>
            <div class="load_circle">
                <div>COMING</div>
                <div>SOON</div>
            </div>
        </div>
        <a class="lang_title" href="?en" v-if="lang_key == 'cn'">ENGLISH</a>
        <a class="lang_title" href="?cn" v-if="lang_key == 'en'">中文</a>
    </div>    
</template>
<script>
import data from './lang_data.js'
const lang_key = window.location.href.indexOf('cn') > -1 ? 'cn' : 'en';
import '../../assets/css/force_bch.css';
export default {
    data () {
        return {
            lang: data[lang_key],
            lang_key,
            logo_txt_class: {
                rotate_x0: ''
            }
        }
    },
    mounted () {
        this.change_log_txt_class();
    },
    methods: {
        change_log_txt_class () {
            setTimeout(() => {
                this.logo_txt_class.rotate_x0 = 'rotate_x0';
            }, 1500);
        }
    }
}
</script>