.header_nav{
  top: 0px;
  border-bottom: 1px solid rgba(181, 179, 179, 0.12941176470588237);
}
.force_slider{
  height: 638px;
  background-image: url('../image/web/forceio/forceio_main_bg.png');  
  background-size: 1920px 638px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #04273f;
}
.force_slider_text_ct{
  padding-top: 170px;
}
.force_slider_logo{
  background-image: url('../image/web/forceio/forceio_txt2.png');  
  background-repeat: no-repeat;
  width: 737px;
  height: 49px;
  background-size: contain;
  margin: 0 auto;
  background-position: center;
}
.force_slider_logo_en{
  background-image: url('../image/web/forceio/forceio_txt2_en.jpg');  
}
.force_slider_logo_kr{
  background-image: url('../image/web/forceio/forceio_txt2_kr.jpg');  
}
.force_slider_title_txt{
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    font-weight: 300;
    width: 681px;
    margin: 0 auto;
    margin-top: 33px;
}
.feature_ct{
    padding-top: 63px;
    padding-bottom: 70px;
    background-color: #fff;
}
.feature_title{
    font-size: 34px;
    line-height: 38px;
    padding-bottom: 33px;
    font-weight: 400;
    color: #0B1A2D;
    text-align: center;
}
.fi_icon{
    margin: 0 auto;
    height: 64px;
    width: 64px;
    background-size: contain;
    background-position: center;
}
.fi1_icon{
  background-image: url('../image/web/forceio/fi_1.png');  
}
.fi2_icon{
  background-image: url('../image/web/forceio/fi_2.png');  
}
.fi3_icon{
  background-image: url('../image/web/forceio/fi_3.png');  
}
.fi4_icon{
  background-image: url('../image/web/forceio/fi_4.png');  
}
.fi5_icon{
  background-image: url('../image/web/forceio/fi_5.png');  
}
.fi6_icon{
  background-image: url('../image/web/forceio/fi_6.png');  
}
.fi7_icon{
  background-image: url('../image/web/forceio/fi_7.png');  
}
.fi8_icon{
  background-image: url('../image/web/forceio/fi_8.png');  
}
.fi9_icon{
  background-image: url('../image/web/forceio/fi_9.png');  
}
.fi10_icon{
  background-image: url('../image/web/forceio/fi_10.png');  
}
.feature_item{
    padding: 42px 23px 30px 23px;
}
.fi_title{
  font-size: 24px;
  color: #14253A;
  line-height: 1;
  margin-top: 25px;
  padding-bottom: 17px;
  text-align: center;
  font-weight: 400;
}
.fi_des{
  font-size: 14px;
  line-height: 24px;
  color: #8C96A4;
}
.feature_list_ct{
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 130px;
  padding-right: 130px;
}
.feature_row{
  display: flex;
  margin-top: 30px;
}
.feature_item{
  border: 1px solid #DADCDE;
  margin-right: 62px;
  width: 100%;
}
.feature_item:hover{
  box-shadow: 0px 0px 3px #d0cfcf;
  border: 1px solid #fff;
}
.feature_item:hover .fi_des{
  color: #152b42;
  font-weight: 400;
}
.feature_item:hover .fi_title{
  color: #888;
}
.feature_row .feature_item:last-child{
  margin-right: 0px;
}
.app_feature_ct{
  background-color: #F8F8F8;
  padding-bottom: 82px;
}
.feature_row_4 .feature_item{
  margin-right: 20px;
  padding-bottom: 17px;
  padding-top: 35px;
}
.touch_ct{
  padding-bottom: 85px;
  background-color: #fff;
}
.touch_icon{
  height: 106px;
  width: 106px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 97px;
  margin-right: 97px;
}
.touch_list_ct{
  display: flex;
  justify-content: center;
  margin-top: 29px;
}
.telegram{
  background-image: url('../image/web/forceio/tl_f.png');  
}
.telegram:hover{
  background-image: url('../image/web/forceio/tl_a.png');  
}
.twitter{
  background-image: url('../image/web/forceio/twitter-f.png');  
}
.twitter:hover{
  background-image: url('../image/web/forceio/twitter-a.png');  
}
.style_load_img{
  height: 0px;
  width: 0px;
  overflow: hidden;
  background-image: url('../image/web/forceio/twitter-a.png'), url('../image/web/forceio/tl_a.png');  
}

@media (max-width: 800px) {
  .force_slider_title_txt{
    width: auto;
    padding-left: 30px;
    margin-right: 30px;
  }
  .feature_list_ct{
    width: auto;
    flex-wrap: wrap;
    padding-left:  0px;
    padding-right: 0px;
  }
  .feature_row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
  }
  .feature_item{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .feature_row .feature_item:last-child{
    margin-right: 20px;
  }
  .feature_ct{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .feature_title{
    font-size: 18px;
    padding-bottom: 0px;
    line-height: 60px;
  }
  .fi_title{
    font-size: 14px;
  }
  .touch_list_ct{
    margin-top: 0px;
    padding-bottom: 30px;
  }
  .touch_icon{
    margin-left: 20px;
    margin-right: 20px;
    height: 54px;
    width: 54px;
  }
  .force_slider_logo{
      width: 322px;
  }
}



