*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    background: #F9F9F9;
    opacity: 1;
    font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans", "Noto Sans CJK Sc", "Microsoft YaHei", "Microsoft Jhenghei", sans-serif;
    font-family: -apple-system,Noto Sans,Helvetica Neue,Helvetica,sans-serif;
    margin: 0px;
    font-weight: 300;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.head_logo{
    width: 106px;
    height: 24px;
    background-size: contain;
    background-image: url('../image/web/forcebch/force_bch_top_logo.png');
    position: absolute;
    display: block;
    left: 40px;
    top: 40px;
    position: absolute;
    z-index: 1;
}
.lang_title{
    color: #fff;
    position: absolute;
    right: 40px;
    top: 45px;
    font-size: 16px;
    z-index: 2;
}
.main_banner{
    background-image: url('../image/web/forcebch/force_bch_bg.png');
    background-size: 1920px 864px;
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.main_logo{
    background-image: url('../image/web/forcebch/force_bch_logo.png');
    width: 230px;
    height: 141px;
    margin: 0 auto;
    margin-top: 130px;
    background-size: contain;
    animation: rotate .5s linear ;    
}
.main_content{
    position: relative;
    width: 100%;
    color: #fff;
}
.main_banner_txt_ct{
    display: flex;
    font-size: 72px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    line-height: 1;
    margin-top: 52px;
}
.main_banner_txt{
    margin-left: 30px;
    margin-right: 30px;
}
.main_banner_line{
    background-image: url('../image/web/forcebch/force_bch_line_left.png');
    height: 2px;
    width: 390px;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(right,rgb(251, 250, 250),rgba(255,0,0,0)); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(left,rgb(251, 250, 250),rgba(255,0,0,0)); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(left,rgb(251, 250, 250),rgba(255,0,0,0)); /* Firefox 3.6 - 15*/
    background: linear-gradient(to left, rgb(251, 250, 250), rgba(255,0,0,0)); /* 标准的语法 */
}
.main_banner_right_line{
    background-image: url('../image/web/forcebch/force_bch_line_right.png');
    background: -webkit-linear-gradient(left,rgb(251, 250, 250),rgba(255,0,0,0)); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right,rgb(251, 250, 250),rgba(255,0,0,0)); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right,rgb(251, 250, 250),rgba(255,0,0,0)); /* Firefox 3.6 - 15*/
    background: linear-gradient(to right, rgb(251, 250, 250), rgba(255,0,0,0)); /* 标准的语法 */
}
.load_circle{
    background-image: url('../image/web/forcebch/force_bch_load.png');
    width: 105px;
    height: 95px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 290px;
    margin-top: 270px;
    /*animation: rotate 1s linear ;    */
}
.main_logo_txt{
    text-align: center;
    color: #fff;
    font-size: 27px;
    line-height: 1;
    margin-top: 25px;
    animation: rotateX 1s .5s linear ;    
    transform: rotateX(90deg);
}
.ml{
    color: #72B9F7;
}
.load_circle{
    padding-top: 36px;
}
.load_circle div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
}
.rotate_x0{
    transform: rotateX(0deg);
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: scale(0.1);
  }
  /*50% {-webkit-transform: rotate(180deg); }*/
  100% {
    -webkit-transform: scale(1);
  }
}
@-ms-keyframes rotate {
  0% {
    -ms-transform: scale(0.1);;    
  }
  /*50% {-ms-transform: rotate(180deg); }*/
  100% {
    -ms-transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: scale(0.1);
  }
  /*50% {transform: rotate(180) }*/
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes rotateX {
  0% {
    -webkit-transform: rotateX(90deg);
  }
  /*50% {-webkit-transform: rotateX(180deg); }*/
  100% {
    -webkit-transform: rotateX(0deg);
  }
}
@-ms-keyframes rotateX {
  0% {
    -ms-transform: rotateX(90deg);  
  }
  /*50% {-ms-transform: rotateX(180deg); }*/
  100% {
    -ms-transform: rotateX(0deg) ;
  }
}
@keyframes rotateX {
  0% {
    transform: rotateX(90deg);
  }
  /*50% {transform: rotateX(180) }*/
  100% {
    transform: rotateX(0deg);
  }
}
@media (max-width: 800px) {
    .main_banner_txt_ct{
        font-size: 24px;
    }
    .load_circle{
        position: fixed;
        left: 50%;
        margin-left: -49px;
        bottom: 20px;
    }
    .head_logo{
        left: 20px;
        top: 20px;
    }
    .lang_title{
        right: 20px;
        top: 25px;
    }
}

.ch_twitter{
    background-image: url('../image/web/281545361885_.pic_hd_ch.jpg');
}
.en_twitter{
    background-image: url('../image/web/291545361887_.pic_hd_en.jpg');
}