<style>

</style>
<template>
    <div class="analytics_brief_ct">
        <h2 class="brief_title">
            <span class="brief_analytics_icon icon"></span>
            <span>{{ lang.view_vote_analytics }}</span>
        </h2>

        <div class="analytics_brief">
            <div class="brief_items_ct vote_brief" style="width: 100%;">
                <div class="brief_item brief_item_33">
                    <div class="brief_item_title">
                        <!-- <span class="brief_item_icon"></span> -->
                        <span>{{ lang.vote_user_num }}</span>
                    </div>
                    <div class="brief_item_content">
                         {{ total_voted_user_num || '...' }}
                    </div>

                </div>

                <div class="brief_item brief_item_33">
                    <div class="brief_item_title">
                        <span>{{ lang.vote_coin_num }}</span>
                        <question v-bind:params="info_texts.desc_eosc_num"></question>
                    </div>
                    <div class="brief_item_content">
                        {{ split_long_num(staked) || '...' }}
                    </div>
                </div>

                <div class="brief_item brief_item_33">
                    <div class="brief_item_title">
                        <span>{{ lang.vote_percent }}</span>
                        <question v-bind:params="{}"></question>
                    </div>
                    <div class="brief_item_content">
                         <div class="view_brief_detail process_bar_ct">
                            <div class="process_bar_txt">{{ percent }}%</div>
                            <div class="process_bar" ref="process_bar">
                                <div class="process_bar_inner" v-bind:style="process_bar_inner_style">
                                    {{ process_bar_inner_width }}
                                </div>
                            </div>
                            <div class="process_bar_txt process_bar_txt_max">100%</div>
                        </div>
                    </div>
                </div>

                <!-- <div class="brief_item">
                    <div class="brief_item_title">
                        <span class="brief_item_icon"></span>
                        <span>{{ lang.vote_coin }}</span>
                    </div>
                    <div class="brief_item_content">
                         {{ staked ? split_long_num(staked) : '...' }}
                    </div>
                    <div class="view_brief_detail process_bar_ct">
                        <div class="process_bar_txt">0%</div>
                        <div class="process_bar" ref="process_bar">
                            <div class="process_bar_inner" v-bind:style="process_bar_inner_style">
                                {{ process_bar_inner_width }}
                                <div class="process_bar_tag">
                                    <span>{{ percent }}%</span>
                                    <div class="process_bar_tag_arrow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="process_bar_txt process_bar_txt_max">100%</div>
                    </div>
                    
                </div> -->

            </div>
        </div>
    </div>
</template>
<script>
import store from '../../data/store.js';
import { lang } from '../../data/lang.js'
import {
    get_vote_num
} from '../../service/eos_service.js'
import {
    split_long_num,
    wait_time
} from '../utils/utils.js'
export default {
    data () {
        return {
            stared_auto_update: true,
            lang: lang.data,
            process_bar_inner_style: {
                width: 0,
                display: 'none'
            },
            info_texts: {
                desc_eosc_num: {
                    info_text: '原力主网所有账户的EOSC的总和'
                },
                vote_percent: {
                    info_text: '当前投票数量/市场流通量'
                }
            }
        }
    },
    computed: {
        head_block_num () {
            return store.state.monitor_brief.info.head_block_num;
        },
        tranaction_num () {
            return store.state.monitor_brief.transaction.total;
        },
        vote_user_num () {
            return store.state.monitor_brief.vote_user_num.total;
        },
        user_num () {
            return store.state.monitor_brief.users_info.total;
        },
        total_voted () {
            return store.state.monitor_brief.total_voted.total;  
        },
        total_voted_user_num () {
            return store.state.monitor_brief.total_voted_user_num.total;  
        },
        staked () {
            return store.state.monitor_brief.staked;
        },
        origin_assets () {
            return parseInt(store.state.monitor_brief.total_actived_coin.total) || 0;
        },
        total_eosc_num () {
            if(!this.head_block_num) return this.origin_assets;
            return 5822891 * 10 + (this.head_block_num - 5822891) * 3 + this.origin_assets;
        },
        percent () {
            return (this.total_voted * 100 / this.total_eosc_num).toFixed(1);
        }
    },
    watch: {
        percent (current, pre) {
            this.check_process_bar(current);
        }
    },
    mounted () {
        this.init();
        this.update_data();
        this.check_process_bar(this.percent || 0);
    },
    destroyed () {
        this.reset();
    },
    methods: {
        init () {
            this.stared_auto_update = true;
        },
        reset () {
            this.stared_auto_update = false;
        },
        async update_data () {
            await store.dispatch('update_info');
            await store.dispatch('update_analytics');
            if(!this.stared_auto_update) return ;
            await wait_time(5);
            this.update_data();
        },
        check_process_bar (current) {
            let width = this.$refs.process_bar.offsetWidth;
            let precess_bar_width = width * current / 100;
            if(precess_bar_width > 0){
                this.process_bar_inner_style.width = width * current / 100 + 'px';
                this.process_bar_inner_style.display = 'block';
            }
        },
        split_long_num
    }
}
</script>