<style>
</style>
<template>
    <div>
        <div class="base_table">
            <div class="tb_title">
                <span>{{ lang.map_search }}</span>
            </div>
            <!--  -->
            <div class="serach_eos_eth_ct">
                <div class="search_eos_eth_title">{{ lang.search }}</div>

                <div class="search_ee_area">
                    <div class="tags_ct">
                        <div class="tag_item" v-for="item in search_tag" v-bind:class="{'tag_item_select': item.is_select}" v-on:click="select(item)">
                            <div class="tag_arrow"></div>
                            <div class="tag_rectange_one"></div>
                            <div class="tag_rectange_two"></div>
                            <div class="tag_text_ct">{{ item.name }}</div>
                        </div>
                    </div>
                    <div class="search_ee_text">
                        <input type="text" v-model="search_form.key_word" ref="input" @keyup.enter="search" />
                        <a href="javascript:;" class="search_btn" @click="search"></a>
                    </div>
                </div>

            </div>
            <!--  -->
            <div class="table_config" v-if="on_load">
                <div class="fakeloader">
                    <div class="fl spinner4"></div>
                </div>
            </div>

            <div class="tb_ct">
                <table class="base_tb_ct" v-if="has_searched && !on_load && !is_mobile">
                     <tr>
                        <th>
                            {{ lang.account }}
                        </th>
                        <th>
                            {{ lang.eth_addr }}
                        </th>
                        <th>
                            {{ lang.eos_key }}
                        </th>
                        <th>
                            {{ lang.map_asset }}
                        </th>
                    </tr>
                    <tr v-if="!search_res.length">
                        <td colspan="6">
                            <div class="no_data">{{ lang.no_data }}</div>
                        </td>
                    </tr>
                    <tr v-if="search_res.length" v-for="row, index in search_res"  v-bind:class="{'tr_bg': index%2}">
                        <td>{{ row.eos_name }}
                        </td>
                        <td>{{ row.eth }}
                        </td>
                        <td>{{ row.eos_key }}
                        </td>
                        <td>{{ row.asset }}
                        </td>
                    </tr>
                </table>

                <table class="base_tb_ct" v-if="has_searched && !on_load && is_mobile">
                     
                    <tr v-if="!search_res.length">
                        <td colspan="6">
                            <div class="no_data">{{ lang.no_data }}</div>
                        </td>
                    </tr>
                    <template v-if="search_res.length" v-for="row, index in search_res" >
                        <tr v-for="row_item, row_index in get_row_array(row)" v-bind:class="{'tr_bg': row_index%2 == 0}">
                            <td>
                                <div class="mobile_width_60">
                                    {{ lang[row_item[0]] }}
                                </div>
                            </td>
                            <td>
                                {{ row_item[1] }}
                            </td>
                        </tr>
                    </template>
                </table>

            </div>

        </div>
    </div>
</template>
<script>
import { lang } from '../../data/lang.js'
import {
    search_eth_eos
} from '../../service/eos_service.js'
import store from '../../data/store.js'
import load_fns from '../common/load_fns.js'
export default {
    data () {
        return {
            lang: lang.data,
            on_load: false,
            load_timestamp: new Date().getTime(),
            has_searched: false,
            search_tag: [
                {
                    categroy: 'eth',
                    name: lang.data['eth_addr'],
                    is_select: true
                },
                {
                    categroy: 'eos_key',
                    name: lang.data['eos_key'],
                    is_select: false
                }
            ],
            search_form: {
                categroy: 'eth',
                key_word: ''
            },
            search_res: []
        }
    },
    computed: {
        is_mobile () {
            return store.state.global_config.is_mobile;
        }
    },
    methods: {
        select (select) {
            this.search_tag.forEach(item => {
                if(item.categroy == select.categroy){
                    item.is_select = true;
                    this.search_form.categroy = item.categroy;
                }else{
                    item.is_select = false;
                }
            });
            this.$refs.input.focus();
        },
        search () {
            this.has_searched = true;
            let post_time = this.start_load(true);
            search_eth_eos(
                    this.search_form.categroy,
                    this.search_form.key_word
            ).then(res => {
                if(!this.diff_data_timestamp(post_time)) return ;
                this.search_res.splice(0, this.search_res.length, ...res.data);
                this.finish_load();
            });
        },
        ...load_fns,
        get_row_array (row) {
            let row_array = [];
            let rank_order = ['eos_name', 'eth', 'eos_key', 'asset'];
            for(let item in row){
                if(item != 'id') row_array.push([item, row[item]]);
            }
            row_array.sort((pre, next) => {
                return rank_order.indexOf(pre[0]) - rank_order.indexOf(next[0]);
            });
            return row_array;
        }
    }
}
</script>

