<style>
body{
    padding: 0px;
    margin: 0px;
}
.abi_check_ct{
    width: 800px;
    margin: 0 auto;
    color: #000;
    padding: 10px;
    background-color: #eee;
}
pre, div{
    word-spacing: normal;
    letter-spacing: normal;
    white-space: pre-wrap;
    word-break: break-word;
}
.abi_data_pane{
    background-color: #fff;
    padding: 10px;
    height: 100px;
    overflow-y: scroll;
}
.abi_tab .abi_tab_item{
    display: inline-block;
    background: #f5f5f5;
    padding: 10px 23px;
    color: #272626;
    border-right: 1px solid #eee;
}
.abi_tab{
    background: #eee;
    border-top: 2px solid #000;
}
.abi_tab .abi_tab_item_select{
    background-color: #fff;
}
.fns_ct{
    background: #fff;
    padding: 10px;
}
.fns_ct .fns_item{
    background-color: #946f6f;
    display: inline-block;
    padding: 5px 16px;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
    margin-top: 5px;
    cursor: pointer;
}
.fns_ct .fns_item_selected{
    background-color: #009688;
}
input{
    padding: 10px;
    min-width: 500px;
    border: 0px;
    border-bottom: 1px solid #eee;
    outline: none;
}
label{
    display: block;
    color: #656363;
    line-height: 1;
    font-size: 14px;
    font-weight: 300;
}
</style>
<template>
    <div class="abi_check_ct">
        <h3>网络设置</h3>
        <div class="fns_ct">

            <ul>
                <li v-for="item in net_work_config">
                    <label>{{ item.key }}:</label>
                    <input type="txt" name="" v-model="item.value">
                </li>
            </ul>

        </div>
        <hr>
        <h3>scatter用户选择</h3>
        <div class="fns_ct">
            <template v-if="has_scatter && scatter_result.account_name">
                <span>{{ scatter_result.account_name }}</span>
                <span>{{ scatter_result.permission }}</span>
                <a href="javascript:;" @click="quit">退出</a>
            </template>
            <template v-if="has_scatter && !scatter_result.account_name">
                <a href="javascript:;" @click="get_scatter_config">从scatter选择用户</a>
            </template>
        </div>
        <hr>
        <h3>获取abi</h3>
        <div class="fns_ct">
            <label>abi账户:</label>
            <input type="" name="" v-model="account.account_name">
            <button @click="get_abi">获取</button>
            <div>
                <br/>
                <div class="abi_tab">
                    <a v-for="item in account.abi_list" class="abi_tab_item" v-bind:class="{'abi_tab_item_select': item.is_select}" @click="select_tab(item)">{{ item.account_name }}</a>
                </div>

                <div v-for="item in account.abi_list" v-if="item.is_select" class="abi_data_pane">{{ item.data }}</div>
            </div>
            <div v-if="account.abi_list.length">
                <h3>方法</h3>
                <div v-for="item in account.abi_list" v-if="item.is_select" class="fns_ct">
                    <a v-for="action_item in item.data.abi.actions" class="fns_item" v-bind:class="{'fns_item_selected': account.select_action_name == action_item.name}" @click="select_action(action_item, item.data.abi.structs)"> {{ action_item.name }} </a>
                </div>
                <template v-if="account.select_action">
                    <h4>格式</h4>
                    <div class="select_action fns_ct" v-if="account.select_action" >
                        <pre>{{ account.select_action }}</pre>
                    </div>
                    <h4>运行</h4>
                    <div class="fns_ct">
                        <template>
                            <div>
                                <ol>
                                    <li v-for="item, index in account.select_action.fields">
                                        <label>{{ item.name }}</label>
                                        <input type="" name="" v-model="account.select_action_form.fields[index].value" v-bind:placeholder="account.select_action_form.fields[index].name">
                                    </li>
                                </ol>
                                <button @click="run_fn">运行</button>
                            </div>
                        </template>
                    </div>
                    <h5> 运行结果 </h5>
                    <div>
                        <pre>{{ account.run_result || '无数据' }}</pre>
                    </div>
                </template>
            </div>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</template>
<script>
import store from '../../data/store.js'
import {
    get_scatter_identity,
    quit_scatter,
    get_abi
} from '../../service/abi_check.js'
export default {
    data () {
        return {
            net_work_config: [
                {
                  key: 'private key',
                  value: ''
                },
                {
                    key: 'protocol',
                    value: 'https'
                },
                {
                    key: 'blockchain',
                    value: 'eos'
                },
                {
                    key: 'host',
                    value: 'w1.eosforce.cn'
                },
                {
                    key: 'port',
                    value: 443
                },
                {
                    key: 'chainId',
                    value: 'bd61ae3a031e8ef2f97ee3b0e62776d6d30d4833c8f7c1645c657b149151004b'
                }
            ],
            scatter_result: {
                account_name: '',
                eos: null,
                permission: ''
            },
            account: {
                account_name: 'eosio',
                abi_list: [],
                select_action_name: '',
                select_action: null,
                select_action_form: null,
                run_result: ''
            }
        }
    },
    computed: {
        is_mobile () {
            return store.state.global_config.is_mobile;
        },
        has_scatter () {
            return store.state.global_config.has_scatter;  
        },
        httpEndpoint () {
            let a = this.net_work_config.find(item => item.key == 'protocol'),
                b = this.net_work_config.find(item => item.key == 'host'),
                c = this.net_work_config.find(item => item.key == 'port');
            return a.value + '://' + b.value + ':' + c.value;
        }
    },
    watch: {
        has_scatter (current, pre) {
            if(current){
                this.get_scatter_config();
            }
        }
    },
    methods: {
        async get_scatter_config () {
            let res = await get_scatter_identity( this.get_net_work() );
            if(res.is_error){
                return false;
            }
            let {account_name, eos, permission}  = res.data;
            this.scatter_result.account_name = account_name;
            this.scatter_result.eos = eos;
            this.scatter_result.permission = permission;
        },
        async get_eos () {
            let res = await get_scatter_identity( this.get_net_work() );
            if(res.is_error){
                return false;
            }
            return res.data;
        },
        async quit () {
            await quit_scatter();
            this.scatter_result.account_name = '';
        },
        async get_abi () {
            let account_name = this.account.account_name || 'eosio';
            let res = await get_abi(this.httpEndpoint, account_name);
            // 
            if(!res.abi.actions){

              return ;
            }

            if(account_name == 'eosio'){
                res.abi.actions.push({
                    'name': 'setfee',
                    'ricardian_contract': '',
                    'type': 'setfee'
                });
                res.abi.structs.push({
                    "base": "",
                    "name": "setfee",
                    "fields": {
                      "account": "account_name",
                      "action": "action_name",
                      "fee": "asset",
                      "cpu_limit": "uint32",
                      "net_limit": "uint32",
                      "ram_limit": "uint32"
                    }
                });
            }
            // 
            let abi_item = {
                is_select: true,
                account_name,
                data: res
            }
            this.account.abi_list.forEach(item => item.is_select = false);
            let exist_item = this.account.abi_list.find(item => item.account_name == account_name);
            if(exist_item){
                exist_item.is_select = true;
                exist_item.data = res;
            }else{
                this.account.abi_list.push(abi_item);
            }            
        },
        get_net_work () {
            let net_work = {};
            this.net_work_config.forEach(item => {
                net_work[item.key] = item.value;
            });
            return net_work;
        },
        select_tab (item) {
            this.account.abi_list.forEach(item => item.is_select = false);
            item.is_select = true;
        },
        select_action (item, structs) {
            this.account.select_action_name = item.name;
            this.account.select_action = structs.find(s_item => s_item.name == item.type);
            this.account.select_action_form = JSON.parse(JSON.stringify(this.account.select_action));
        },
        async run_fn () {
            let args = this.account.select_action_form.fields.map(item => item.value);
            let account = this.account.abi_list.find(item => item.is_select == true);
            let scatter_identity = await this.get_eos();
            let token = await scatter_identity.eos.contract(account.account_name);
            console.log(token);
            args.push({
                actor: scatter_identity.account_name,
                permission: scatter_identity.permission
            });
            try{
                this.account.run_result = await token[this.account.select_action_name](...args).catch(error => {
                    if(error.message){
                        error = JSON.stringify(error);
                    }else if(typeof error == 'object'){
                        error = error.toString();
                    }
                    return error;
                });
            }catch(e){
                this.account.run_result = e;
            }
        },
        is_json (str) {
            if(typeof str == 'object'){
                return true;
            }
            if(typeof str == 'string'){
                try{
                    json.parse(str);
                }catch(e){
                    return false;
                }
            }
            return true;
        }
    },

    components: {
    }
}
</script>



