<style>
</style>
<template>
    <div class="search_content_ct" v-bind:class="{'show_on_nav': show_on_nav}">
        <form action="./" @submit="search">
            <div class="search_form_ct" ref="el" v-bind:class="{'focus_search_form':is_focus}" @click="start_focus_form">
                <error_info v-if="error_text" v-bind:text="error_text"></error_info>

                <!-- <div class="sh_select_ct mobile_ct">
                    <div class="sh_selected_txt" v-for="item in categorys" v-if="item.name == search_form.category">{{ item.name == search_form.category ? action_text + item.txt : item.txt }}<span class="search_arrow"></span></div>
                    <select v-model="search_form.category" @change="select_in_mobile">
                        <option v-for="item in categorys" v-bind:value="item.name">{{ item.txt }}</option>
                    </select>
                </div> -->

                <input class="search_ipt mobile_ct" v-model="search_form.key_word" ref="input" @keydown.tab="select_next" @keyup.enter.prevent="search" type="search"  v-bind:placeholder="placeholder"></input>

                <input class="search_ipt pc_module" v-model="search_form.key_word" ref="input" @keydown.tab="select_next" @keyup.enter="search"   v-bind:placeholder="placeholder"></input>

                <!-- <div class="search_categorys">
                    <span class="search_cate_item"
                    v-for="item in categorys"
                    v-bind:class="{'search_cate_item_focus': item.name == search_form.category}"
                    @click="selecte_category(item)"
                    >{{ item.name == search_form.category ? action_text + item.txt : item.txt }}</span>
                </div> -->
                <a class="search_btn pc_module" href="javascript:;" @click="search"></a>
            </div>
        </form>
    </div>
</template>
<script>
import {
    search
} from '../../service/eos_service.js'
import error_info from '../common/error_info.vue'
import { lang } from '../../data/lang.js'
export default {
    data () {
        return {
            placeholder: lang.data['search_placeholer'],
            action_text: '',
            search_form: {
                category: 'accounts',
                txt: lang.data['accounts'],
                key_word: ''
            },
            categorys: [
                {
                    name: 'accounts',
                    txt: lang.data['account'],
                    route_name: 'account_detail_view',
                    param_key: 'account_name'
                },
                {
                    name: 'eos_public_key',
                    txt: lang.data['eos_key'],
                    route_name: 'eos_key_view',
                    param_key: 'eos_public_key'
                },
                {
                    name: 'blocks',
                    txt: lang.data['block'],
                    route_name: 'block_detail_view',
                    param_key: 'block_num'
                },
                {
                    name: 'actions',
                    txt: lang.data['transaction'],
                    route_name: 'transaction_detail_view',
                    param_key: 'trx_id'
                }
            ],
            is_focus: false,
            error_text: '',
            show_on_nav: false,
            lang: lang.data,
            in_mobile_model: false
        }
    },
    mounted () {
        this.when_to_top();
        this.init_focus_out();
    },
    methods: {
        init_focus_out(){
            let el = this.$refs.el;
            document.addEventListener("click", (e) => {
                let start_el = e.target || e.srcElement;
                if(el !== start_el && !el.contains(start_el)){
                    this.finish_focusout_form();
                }
            });
        },
        selecte_category (category_item) {
            this.search_form.category = category_item.name;
            this.search_form.txt = category_item.txt;
        },
        select_in_mobile () {
            for(let item of this.categorys){
                if(item.name == this.search_form.category){
                    this.selecte_category(item);
                    break;
                }
            }
        },
        start_focus_form () {
            this.is_focus = true;
        },
        finish_focusout_form () {
            this.is_focus = false;
        },
        focus_input () {
            this.$refs.input.focus();
        },
        get_res_view () {
            return this.categorys.find(item => item.name == this.search_form.category)
        },
        set_error_text (txt) {
            this.error_text = txt;
            setTimeout(() => {
                this.error_text = '';
            }, 2000);
        },
        search (e) {
            this.search_form.key_word = this.search_form.key_word.trim();
            this.focus_input();
            search(this.search_form)
            .then(data => {
                if(data.status != 0){
                    this.set_error_text(data.msg);
                    return ;
                }
                let params = {};
                this.categorys.forEach(item => {
                    params[item.param_key] = data.data.includes(item.name) ? this.search_form.key_word : '_';
                });
                console.log(params);
                this.$router.push({
                    name: 'search_res_view',
                    params
                });
            });
        },
        select_next (e) {
            for (var i = this.categorys.length - 1; i >= 0; i--) {
                let item = this.categorys[i];
                if(item.name == this.search_form.category){
                    let next = i + 1;
                    next = next >= this.categorys.length ? 0 : next;
                    this.search_form.category = this.categorys[next].name;
                    break;
                }
            }
            this.focus_input();
             e.stopPropagation();
             e.preventDefault();
            return false;
        },
        when_to_top () {
            let el = this.$refs.el;
            document.body.onscroll = () => {
                let left = el.offsetLeft;
                let top = el.offsetTop;
                let scroll_top = document.documentElement.scrollTop || document.body.scrollTop;
                if(scroll_top > 211){
                    this.show_on_nav = true;
                    return ;
                }
                this.show_on_nav = false;
            }
        }
    },
    components: {
        error_info
    }
}
</script>



