<style>

</style>
<template>
    <div class="search_area">
        <div class="search_title">{{ lang.search_slogo }}</div>
        <div class="search_second_title">{{lang.search_title}}</div>
        <search_form></search_form>
    </div>
</template>
<script>
import search_form from './search_form.vue'
import { lang } from '../../data/lang.js'
export default {
    data () {
        return {
            lang: lang.data
        }
    },
    components: {
        search_form
    },
    methods: {

    }
}
</script>
