<style type="text/css">
*{
    -webkit-font-smoothing: antialiased;
}
.bold_ft{
    color: #333;
    font-weight: 500;
}
.red_bold_ft{
    color: #e42424cc;
    font-weight: bold;
}
.under_line_txt{
    text-decoration: underline;
}
.en_btn{
    margin-left: 0px;
    text-align: center;
    justify-content: center;
    /*margin-top: 10px;*/
}
.en_ct{
    display: flex;
}
.lang_btn{
    /*position: absolute;*/
    background: rgba(247, 247, 246, 0.4);
    line-height: 1;
    padding: 9px 36px;
    border-radius: 18px;
    top: 10px;
    right: 10px;
    color: #01011f;
    z-index: 11;
}

.share_ipt{
    width: 100%;
    height: 93px;
    padding: 10px;
    line-height: 20px;
    border-radius: 4px;
    border: 1px solid #eee;
    color: #505052;
}
.ft_24{
    font-size: 17px;
    line-height: 22px;
    color: #615a53;
    font-weight: 500;
    word-break: break-word;
}
.scatter_btn svg{
    margin-right: 6px;
}
.scatter_btn{
    fill: #fff;
}
.scatter_btn:hover{
    color: #fff;
}
.bold_ft{
    font-weight: bold;
}
div{
    word-break: break-word;
}
.lang_btn_ct{
    position: absolute;
    right: 20px;
    top: 23px;
}
.lang_btn_select{
    background: #070709;
    color: #fff;
}
@media (max-width: 800px) {
    .en_ct {
        display: block;
        width: 100%;
    }
    .en_ct .tg_ipt{
        display: block;
        width: 100%;
    }
    .lang_btn_ct{
        right: 10px;
    }
    .lang_btn{
        padding: 9px;
    }
}
.watch_out{
    background: #ffffffd4;
    padding: 9px 15px;
    margin-top: 31px;
    border-radius: 4px;
    font-size: 14px;
    color: #c73d3d;
    line-height: 21px;
    border: 1px solid #a92319;
}
</style>

<template>
    <div class="">
        <div class="ei_head" v-bind:style="head_height">
            <a class="logo" href="http://www.eosforce.io" target="_blank"></a>
            <div class="lang_btn_ct">
                <a href="/eos_invite.html" v-bind:class="{'lang_btn_select': lang == 'cn'}" class="lang_btn">中文</a>
                <a href="/kr_eos_invite.html" v-bind:class="{'lang_btn_select': lang == 'kr'}" class="lang_btn">한국어</a>
                <a href="/en_eos_invite.html" v-bind:class="{'lang_btn_select': lang == 'en'}" class="lang_btn">English</a>
            </div>
            <div class="active_banner_text">
                <h1 class="eos_main_title">
                    <span class="snow_piece"></span>
                    <span class="eos_mt_txt">{{ get_lang('激活你的原力创世账号', lang) }}</span>
                    <span class="snow_piece"></span>
                </h1>
                <p class="ei_des">
                    <span>{{ get_lang('即可获得激活奖励TOKEN', lang) }}</span>
                </p>
            </div>
        </div>
        <!-- main_content_start -->
        <div class="main_content">
            <div class="des_content">
                <template v-if="lang=='en'">
                    <h3 class="mgt_12">1. Steps</h3>
                    <p class="pdl_40 mgt_12 ft_24">
                        a. Follow the Scatter instruction to the right to activate your EOSForce genesis account and EOSC.
                    </p>
                     <p class="pdl_40 mgt_12 ft_24">
                        b. Open your desktop Scatter and refresh this page to log on your EOSForce account
                    </p>
                     <p class="pdl_40 mgt_12 ft_24">
                        c. Click the button “Click here to finish your genesis activation!” to finish
                    </p>
                     <p class="pdl_40 mgt_12 ft_24">
                        d. Share this page on Twitter to start getting your invitation bonuses
                    </p>
                    <h3 class="mgt_12">2. About the invitation bonus </h3>
                    <p class="pdl_40 mgt_12 ft_24">
                        a. Activated account B enters the account name of the inviter A on this page. The inviter’s account A receives an invitation bonus of 200 EOSC (the inviter record is set to the account name entered first time by the newly activated user). 
                    </p>
                    <p class="pdl_40 mgt_12 ft_24">
                        b. If the inviter B invites user C to activate, inviter A continues to receive an affiliate invitation bonus of 100 EOSC.
                    </p>
                    <p class="pdl_40 mgt_12 ft_24">
                        c. Upper level inviter receives an invitation bonus each time a new user activates, with the bonus reducing by half each time:50/25/12.5 etc.
                    </p>
                    <h3 class="mgt_12">3. Best inviters bonus</h3>
                    <p class="pdl_40 mgt_12 ft_24">
                        a. Top 3 inviters with most invitations
                    </p>
                    <p class="pdl_40 mgt_12 ft_24">
                        b. Top 3 accounts with the most activated token balance
                    </p>
                    <p class="pdl_40 mgt_12 ft_24">
                        c. Top 3 invitation bonus amount inviters
                    </p>
                    <br/>
                    <p class="pdl_40 mgt_12 ft_24">
                        Each of the reward inviters get an additional bonus of 5000/3000/2000 EOSC, totalling 30,000!
                    </p>
                    <p class="watch_out">
                        *NOTE: your first network action must be completed through the "Click here to finish activation" button to be eligible for your reward of this giveaway event.
                    </p>
                </template>
                <template v-if="lang=='cn'">
                    <h3 class="mgt_12">1. 激活步骤</h3>
                    <p class="pdl_40 mgt_12 ft_24">
                        a. 根据右侧Scatter使用教程完成scatter安装，并通过私钥验证原力创世账户，领取EOSC。
                    </p>
                     <p class="pdl_40 mgt_12 ft_24">
                        b. 启动你的Scatter桌面版客户端，刷新此页面登录原力账户
                    </p>
                     <p class="pdl_40 mgt_12 ft_24">
                        c. 点击按钮“点击此处完成你的创世激活！”，获取激活奖励。
                    </p>
                     <p class="pdl_40 mgt_12 ft_24">
                        d. 分享此页面，邀请其他创世用户参与，可获得更多EOSC邀请奖励
                    </p>
                    <h3 class="mgt_12">2. 推荐有奖 </h3>
                    <p class="pdl_40 mgt_12 ft_24">
                        a. 如果激活账户B填写了推荐者帐号A，则推荐者A可获得200 EOSC的奖励。（以第一次填写为准）
                    </p>
                    <p class="pdl_40 mgt_12 ft_24">
                        b. 如果被推荐者B继续推荐创世用户C激活成功，那么上级推荐者A继续获得100EOSC奖励。
                    </p>
                    <p class="pdl_40 mgt_12 ft_24">
                        c. 所有上级推荐者依次减半获得奖励，也就是50/25/12.5….，不限层级。
                        
                    </p>
                    <h3 class="mgt_12">3. 邀请排行榜特别奖</h3>
                    <p class="pdl_40 mgt_12 ft_24">
                        a. 邀请人数前3
                    </p>
                    <p class="pdl_40 mgt_12 ft_24">
                        b. 邀请激活账户币数前3
                    </p>
                    <p class="pdl_40 mgt_12 ft_24">
                        c. 邀请激励前3
                    </p>
                    <br/>
                    <p class="pdl_40 mgt_12 ft_24">
                        将依次获得5000/3000/2000，合计30000的额外特别奖！
                    </p>
                    <p class="watch_out">
                        *注意：你的第一次操作需要在本活动执行才有获奖权，即点击“点击此处完成你的创世激活”按钮。
                    </p>
                </template>

                <template v-if="lang == 'kr'">
                    <h3 class="mgt_12">1. 활성화 절차</h3>
                    <p class="pdl_40 mgt_12 ft_24">
                        a. 오른쪽 Scatter 설명에 따라 Scatter를 설치 후, Private Key 인증을 마치고 EOSC를 활성화하세요.
                    </p>
                    <p class="pdl_40 mgt_12 ft_24">
                        b. Scatter 데스크탑 버전 클라이언트를 실행하고, 이 페이지를 새로고침하여 Scatter 로그인을 해주세요.
                    </p>
                    <p class="pdl_40 mgt_12 ft_24">
                        c. “이곳을 클릭하여 계정 활성화를 완료하세요!” 버튼을 눌러주세요.
                    </p>
                    <p class="pdl_40 mgt_12 ft_24">
                        d. 이 페이지를 주변에 공유하고, 다른 재네시스 계정이 활성화하도록 초대해 더 많은 EOSC를 받아보세요!
                    </p>
                    <h3 class="mgt_12">2. 초대 보상 </h3>
                    <p class="pdl_40 mgt_12 ft_24">
                        a. B라는 계정에서 A계정을 초대 계정명으로 기입하고 활성화하면 A계정은 100EOSC를 보상으로 받을 수 있습니다. (한 재네시스 계정당 한 계정만 추천 가능) 
                    </p>
                    <p class="pdl_40 mgt_12 ft_24">
                        b. 만약 B계정이 다른 C계정을 활성화하도록 초대하면 먼저 B계정을 초대한 A는 추가로 50EOSC를 보상으로 받을 수 있습니다.
                    </p>
                    <p class="pdl_40 mgt_12 ft_24">
                        c. 모든 1차, 2차, 3차 등의 상위 추천자들은 순서대로 50/25/12.5/...의 보상을 추가적으로 계속 받을 수 있습니다. 
                        
                    </p>
                    <h3 class="mgt_12">3. 상위 초대 계정 특별 보상</h3>
                    <p class="pdl_40 mgt_12 ft_24">
                        a. 상위 3등 이내의 초대 계정 수를 기록한 계정 (1등, 2등, 3등)
                    </p>
                    <p class="pdl_40 mgt_12 ft_24">
                        b. 상위 3등 이내의 초대를 통해 활성화된 계정의 누적 EOSC를 기록한 계정 (1등, 2등, 3등)
                    </p>
                    <p class="pdl_40 mgt_12 ft_24">
                        c. 상위 3등 이내의 본 이벤트를 통해 받은 누적 보상을 기록한 계정 (1등, 2등, 3등)
                    </p>
                    <br/>
                    <p class="pdl_40 mgt_12 ft_24">
                        1등, 2등, 3등 순으로 5,000/3,000/2,000 EOSC 씩, 총 30,000 EOSC의 특별 보상이 준비되어 있습니다.
                    </p>
                    <p class="watch_out">
                        *주의: 재네시스 계정의 첫 번째 작업이 본 이벤트 참여인 경우에만 보상을 받으실 수 있습니다. (본 이벤트 참여하는 재네시스 계정에서 이벤트 참여 전 투표, 이체 등의 작업이 있는 경우 참여 대상에서 제외됩니다.)
                    </p>
                </template>

                <div class="des_content_form">
                     <div class="show_copy_info" v-if="show_transfer_info">{{ get_lang('转账成功', lang) }}</div>
                     <div class="show_copy_info error_info" v-if="show_transfer_error_info">{{show_transfer_error_info}}</div>

                    <div class="active_form">
                        <div class="active_form_item">
                            <template v-if="account_name" >
                                <!-- <a class="view_how_to" href="#transfer">{{ get_lang('马上激活', lang) }}</a><br/> -->
                                <span class="">
                                    <span class="active_form_account_tag">{{ get_lang('用户名', lang) }}:</span>
                                    <span class="active_account_name">{{ account_name }}</span>
                                </span>
                                <span class="" @click="exchange">{{ get_lang('切换用户', lang) }}</span>
                            </template>
                            <span v-if="has_scatter && !account_name" @click="exchange" class="choose_tag">
                                {{ get_lang('选择scatter中需要激活的账户', lang) }}
                            </span>
                        </div>
                        <div>
                            <input type="" v-model="transfer_moment" v-bind:placeholder="get_lang('填写推荐人账户(可不填)', lang)" class="active_input" /><br/>
                        </div>
                        <div>

                            <template v-if="has_scatter">
                                <div class="btn copy_btn en_btn active_btn" @click="transfer" v-if="!on_transfer">{{ get_lang('点击此处完成你的创世激活！', lang) }}</div>
                                <div class="btn copy_btn en_btn active_btn" v-if="on_transfer">{{ get_lang('转账中...', lang) }}.</div>
                            </template>

                            <template v-if="!has_scatter" >
                                <a class="btn copy_btn en_btn active_btn" v-bind:href="get_lang('https://bbs.eosforce.io/?thread-328.htm', lang)" target="_blank">
                                {{ get_lang('未安装scatter,点击安装', lang) }}
                                </a>
                            </template>

                            <template v-if="account_name">
                                <div class="scatter_active_introduction">{{ get_lang('获取更多奖励', lang) }}</div>
                                <textarea v-model="share_text" class="share_ipt"></textarea>
                                <a v-bind:href="twitter_share_txt" class="btn copy_btn en_btn active_btn scatter_btn" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 72 72"><path d="M67.812 16.141a26.246 26.246 0 0 1-7.519 2.06 13.134 13.134 0 0 0 5.756-7.244 26.127 26.127 0 0 1-8.313 3.176A13.075 13.075 0 0 0 48.182 10c-7.229 0-13.092 5.861-13.092 13.093 0 1.026.118 2.021.338 2.981-10.885-.548-20.528-5.757-26.987-13.679a13.048 13.048 0 0 0-1.771 6.581c0 4.542 2.312 8.551 5.824 10.898a13.048 13.048 0 0 1-5.93-1.638c-.002.055-.002.11-.002.162 0 6.345 4.513 11.638 10.504 12.84a13.177 13.177 0 0 1-3.449.457c-.846 0-1.667-.078-2.465-.231 1.667 5.2 6.499 8.986 12.23 9.09a26.276 26.276 0 0 1-16.26 5.606A26.21 26.21 0 0 1 4 55.976a37.036 37.036 0 0 0 20.067 5.882c24.083 0 37.251-19.949 37.251-37.249 0-.566-.014-1.134-.039-1.694a26.597 26.597 0 0 0 6.533-6.774z"></path></svg>
                                    <span>{{ get_lang('分享到推特', lang) }}</span>
                                </a>
                            </template>

                            <template v-if="has_scatter" >
                                <div class="scatter_active_introduction">
                                    {{ get_lang('使用scatter钱包遇到问题？请点击下边按钮进入教程', lang) }}
                                </div>

                                <a class="btn copy_btn en_btn active_btn scatter_btn" v-bind:href="get_lang('https://bbs.eosforce.io/?thread-328.htm', lang)" target="_blank">
                                    {{ get_lang('scatter使用EOS原力教程', lang) }}
                                </a>
                            </template>
                            <div class="share_ct">
                                <template v-if="lang == 'en'">
                                    <a class="tl_default" href="https://t.me/eosforce_en" target="_blank"></a>
                                    <a class="twitter_default" href="https://twitter.com/eosforce" target="_blank"></a>
                                </template>
                                <template v-if="lang == 'cn'">
                                    <a class="tl_default" href="https://t.me/eosforce_cn" target="_blank"></a>
                                    <a class="twitter_default" href="https://twitter.com/eosforce" target="_blank"></a>
                                </template>
                                <template v-if="lang == 'kr'">
                                    <a class="tl_default" href="https://t.me/eosforcekr" target="_blank"></a>
                                    <a class="twitter_default" href="https://twitter.com/eosforce" target="_blank"></a>
                                </template>
                            </div>
                            <!-- <div class="btn copy_btn en_btn active_btn active_btn_blur" >{{ get_lang('转账中...', lang) }}.</div> -->
                        </div>
                    </div>
                    <!-- <div class="view_scatter_introduction_ct">
                        <a class="view_scatter_introduction" v-bind:href="get_lang('https://bbs.eosforce.io/?thread-192.htm', lang)" target="_blank">查看scatter使用教程</a>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- main_content_end -->
        <div class="main_content">
            <!-- invite_box -->
            <div class="invite_box mgt_58"  style="display: none;">
                <div class="show_copy_info" v-if="show_info">{{ get_lang('复制成功', lang) }}</div>

                <h2 class="invite_box_title">{{ get_lang('推广词', lang) }}</h2>
                <div class="invite_box_content">

                    <div class="mobile_ct invite_tag">{{ get_lang('我的推广账号', lang) }}</div>
                    <input v-model="letters" type="" name="" ref="letters" id="letters" />
                    <div class="invite_form">
                        <div class="invite_tag pc_module">{{ get_lang('我的推广账号', lang) }}</div>
                        <template v-if="lang == 'cn'">
                        <input v-model="my_account" type="" name="" :placeholder="get_lang('输入我的账号，产生推广词', lang)" class="tg_ipt" />
                        <div class="btn copy_btn" @click="init_copy">{{ get_lang('拷贝推广词', lang) }}</div>
                        </template>
                        <div v-if="lang == 'en'" class="en_ct">
                        <input v-model="my_account" type="" name="" :placeholder="get_lang('输入我的账号，产生推广词', lang)" class="tg_ipt" /><br/>
                        <div class="btn copy_btn en_btn" @click="init_copy">{{ get_lang('拷贝推广词', lang) }}</div>
                        </div>
                    </div>
                    <div class="show_copy_info error_info" v-if="error_info">{{ error_info }}</div>
                    <div class="invite_info" v-bind:class="{'light_info': my_account}">
                        <div v-if="lang == 'cn'">
                        {{ get_lang('欢迎参加“原力回家行动”!', lang) }}<br/>
                        活动期内，8月1日以后新激活的<span class="red_bold_ft">创世帐号</span>(从ETH映射到原力的账户)，向checkin帐号转账<span class="red_bold_ft">0.0001 EOS </span>Coin签到，留言附上推荐帐号<span class="bold_ft under_line_txt">{{ my_account }}</span>，双方可获10.24 EOS Coin激活奖和邀请奖！<br/>
                        所有上级推荐人，依次减半获得推荐奖！<br/>
                        活动结束时更为最佳推荐人开出3万 EOS Coin的壕礼！
                        </div>
                        <div v-if="lang == 'en'">
                        {{ get_lang('活动期内，8月1日以后新激活的创世帐号(从ETH映射到原力的账户)，向checkin帐号转账0.0001 EOS Coin签到，留言附上推荐帐号', lang) }}
                        <span class="bold_ft under_line_txt">{{ my_account }}</span>
                        {{ get_lang('，双方可获10.24 EOS Coin激活奖和邀请奖！', lang) }}
                        {{ get_lang('所有上级推荐人，依次减半获得推荐奖！', lang) }}
                        {{ get_lang('活动结束时更为最佳推荐人开出3万 EOS Coin的壕礼！', lang) }}
                        <!-- {{ get_lang('更多详情请访问www.eosforcegohome.com/eos_invite.html', lang) }} -->
                        </div>
                    </div>  
                    
                </div>

            </div>
            <!-- invite_box -->
            <div class="invite_box mgt_58" style="display: none;">
                <a name="transfer"></a>
                <div class="show_copy_info" v-if="show_transfer_info">{{ get_lang('转账成功', lang) }}</div>
                <div class="show_copy_info error_info" v-if="show_transfer_error_info">{{show_transfer_error_info}}</div>
                <h2 class="invite_box_title">{{ get_lang('马上激活账户', lang) }}</h2>
                <div class="invite_box_content">
                   <div class="invite_form">
                        <div class="en_ct" style="line-height: 48px;">
                            <div>{{ get_lang('用户名', lang) }}: {{ account_name }}</div>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                            <input type="" v-model="transfer_moment" v-bind:placeholder="get_lang('填写推荐人', lang)" class="tg_ipt" /><br/>
                            <div class="btn copy_btn en_btn" @click="transfer" v-if="!on_transfer">{{ get_lang('转账', lang) }}</div>
                            <div class="btn copy_btn en_btn" v-if="on_transfer">{{ get_lang('转账...', lang) }}.</div>
                        </div>
                    </div> 
                </div>
            </div>
            <!-- invite_box -->
            <div class="invite_box mgt_58"  style="display: none;">
                <h2 class="invite_box_title">{{ get_lang('活动规则', lang) }}</h2>
                <div class="invite_box_content">
                    <div class="invite_list_item">
                        <div class="invite_list_item_radio"></div>
                        <div class="t11"> {{ get_lang('激活有奖', lang) }}</div>
                        {{ get_lang('首次激活EOSForce账户，在活动期间向帐号checkin发送0 EOSC签到，即可获得200 EOSC的奖励。 注:创世账号查询地址 https://explorer.eosforce.io/#/eth_eos_mapping', lang) }}
                    </div>
                    <div class="invite_list_item">
                        <div class="invite_list_item_radio"></div>
                        <div class="t11">{{ get_lang('推荐有奖', lang) }}</div>
                        1.{{ get_lang('激活账户B在转账留言中（memo）填写推荐者帐号A，则推荐者A可获得100 EOSC的奖励。（以第一次留言为准）', lang) }}
                        <br/>
                        <br/>
                        2.{{ get_lang('如果被推荐者B继续推荐别人C激活成功，那么上级推荐者A继续获得50EOSC奖励。', lang) }}
                        <br/>
                        <br/>
                        3.{{ get_lang('所有上级推荐者依次减半获得奖励，也就是50/25/12.5….，不限层级。', lang) }}
                    </div>
                    <div class="invite_list_item">
                        <div class="invite_list_item_radio"></div>
                        <div class="t11">{{ get_lang('邀请排行榜特别奖', lang) }}</div>
                        1.{{ get_lang('邀请人数前3', lang) }}<br/><br/>
                        2.{{ get_lang('邀请激活账户币数前3', lang) }}<br/><br/>
                        3.{{ get_lang('邀请激励前3', lang) }}<br/><br/>
                        {{ get_lang('将依次获得5000/3000/2000，合计30000的额外特别奖！', lang) }}
                    </div>
                </div>
            </div>
            <!-- invite_box -->
            <!-- invite_box -->
            <div class="invite_box mgt_38">
                <h2 class="invite_box_title">{{ get_lang('累计发送奖金', lang) }}</h2>
                <div class="invite_box_content">
                    <div class="sended_eos">
                        <span class="se_num">{{ (total_sened/10000).toFixed(3) }}</span><span class="se_sys">EOS Coin</span>
                    </div>
                    <div class="sys_update_tag">{{ time_str }}</div>
                </div>
            </div>
            <!-- invite_box -->
            <div class="mgt_72">
                <div class="tab_ct">
                    <a href="javascript:;" class="btn" v-for="table_item,key in table_list" v-bind:class="{'btn_tb_focus': table_item.selected}" @click="select(table_item)">
                        {{ table_item.name }}
                    </a>
                </div>
            </div>
            <!-- invite_box -->
            <div class="invite_box mgt_46">
                <div class="tb_ct">
                        <template v-for="table_item,key in table_list">

                            <table class="base_tb_ct" v-if='key == "get_most_invite" && table_item.selected'>
                                <tr>
                                    <th> # </th> <th> {{ get_lang('账号', lang) }} </th> <th> {{ get_lang('邀请人次', lang) }} </th>
                                </tr>
                                
                                <tr v-if="table_item.is_load">
                                    <td colspan="3">
                                        <div class="base_load_ct bigger_load">
                                            <div class="load_circle"></div>
                                        </div>
                                    </td>
                                </tr>
                                <template  v-if="!table_item.is_load">
                                    <tr v-if="!table_item.data.length">
                                        <td colspan="3">
                                            <div class="no_data">
                                                {{ get_lang('暂无数据', lang) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr v-for="tr, index in table_item.data" v-if="table_item.data.length"  v-bind:class="{'tr_bg': index%2}">
                                        <td>
                                            {{ index + 1 }}
                                        </td> 
                                        <td>
                                            <div class="blue_ft" @click="set_select_account(tr.Account)">
                                                {{ tr.Account }}
                                            </div>
                                        </td> 
                                        <td>
                                            {{ tr.SumInvite }}
                                        </td>
                                    </tr>
                                </template>
                            </table>

                            <table class="base_tb_ct" v-if='key == "get_moset_invite_assets" && table_item.selected'>
                                <tr>
                                    <th> # </th> <th>{{ get_lang('账号', lang) }}</th> <th> {{ get_lang('邀请币数', lang) }} </th>
                                </tr>
                                <tr v-if="table_item.is_load">
                                    <td colspan="3">
                                        <div class="base_load_ct bigger_load">
                                            <div class="load_circle"></div>
                                        </div>
                                    </td>
                                </tr>
                                <template  v-if="!table_item.is_load">
                                <tr v-if="!table_item.data.length">
                                    <td colspan="3">
                                        <div class="no_data">
                                            {{ get_lang('暂无数据', lang) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr v-for="tr, index in table_item.data" v-if="table_item.data.length"  v-bind:class="{'tr_bg': index%2}">
                                    <td>{{ index + 1 }}</td> 
                                    <td>
                                        <div class="blue_ft" @click="set_select_account(tr.Account)">
                                            {{ tr.Account }}
                                        </div>
                                    </td> 

                                    <td>{{ (tr.SumAsset/10000).toFixed(3) }}</td>
                                </tr>
                                </template>
                            </table>

                            <table class="base_tb_ct" v-if='key == "get_most_bounds" && table_item.selected'>
                                <tr>
                                    <th> # </th> <th>{{ get_lang('账号', lang) }}</th> <th> {{ get_lang('邀请币数', lang) }} </th>
                                </tr>
                                <tr v-if="table_item.is_load">
                                    <td colspan="3">
                                        <div class="base_load_ct bigger_load">
                                            <div class="load_circle"></div>
                                        </div>
                                    </td>
                                </tr>
                                <template  v-if="!table_item.is_load">
                                <tr v-if="!table_item.data.length">
                                    <td colspan="3">
                                        <div class="no_data">
                                            {{ get_lang('暂无数据', lang) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr v-for="tr, index in table_item.data" v-if="table_item.data.length" v-bind:class="{'tr_bg': index%2}">
                                    <td>{{ index + 1 }}</td> 
                                    <td>
                                        <div class="blue_ft" @click="set_select_account(tr.Account)">
                                            {{ tr.Account }}
                                        </div>
                                    </td> 

                                    <td>{{ (tr.SumBonus/10000).toFixed(3) }}</td>
                                </tr>
                                </template>
                            </table>
                        </template>
                </div>
            </div>
            <!-- invite_box -->
            <!-- invite_box -->
            <div class="invite_box mgt_58">
                <h2 class="invite_box_title">{{ get_lang('关于EOSForce', lang) }}</h2>
                <div class="invite_box_content">
                    <template>
                        
                    </template>
                    <template v-if="lang =='en'">

                        <div class="invite_list_item bold_ft">
                            <div class="invite_list_item_radio"></div>
                            The EOSForce ecosystem follows the Bitcoin philosophy of freedom, openness, justness and fairness. Neither the development nor the operations of EOSForce engage in any ICO or additional coin offering activities.
                        </div>

                         <div class="invite_list_item bold_ft">
                            <div class="invite_list_item_radio"></div>
                            EOSForce is dedicated to exploring a more open set of cryptoeconomic infrastructure. Through consistently developing a multichain architecture protocol, EOSForce fulfills needs for diverse consensus and facilitates blockchain applications in all fields.
                        </div>
                        <div class="invite_list_item bold_ft">
                            <div class="invite_list_item_radio"></div>
                            Currently we are the most active parallel chain that is already launched on EOSIO, providing a richer blockchain support for developers and a fairer governance mechanism for the community. Users can use mapped EOSIO key pair to activate EOSForce.io mainnet asset.
                        </div>
                        <div class="invite_list_item bold_ft">
                            <div class="invite_list_item_radio"></div>
                            The EOSForce mainnet blockchain adopts a voting dividend sharing model that rewards voters to participate in the mainnet voting. In addition, EOSForce has also adopted a 1-token-1-vote model that further improves the network governance fairness. It is given these governance mechanisms that without heavy marketing effort, EOSForce has consistently maintained a 90%+ voter participation rate through word-of-mouth marketing.
                        </div>
                        <div class="invite_list_item bold_ft">
                            <div class="invite_list_item_radio"></div>
                            To address the most current challenges of cryptoeconomy, EOSForce offers free dappchain launch services for Dapps and developers based on EOSForce multichain architecture. Our relaychain design will provide the solutions to Interblockchain Communications (IBC). This will be the key to mass adoption of the blockchain technology.
                        </div>
                        <div class="invite_list_item bold_ft">
                            <div class="invite_list_item_radio"></div>
                            EOSForce mainnet blockchain currently has 10+ Dapps running onchain and dozens more under development. The EOSC token is the mainnet asset of EOSForce.
                        </div>
                        <br/>
                        <br/>
                        <br/>
                    </template>
                    <template v-if="lang =='kr'">
                        <div class="invite_list_item bold_ft">
                            <div class="invite_list_item_radio"></div>
                            EOSFORCE는 보다 개방적인 암호 경제 인프라를 탐구하는 데 전념하고 있습니다. 다중 체인 아키텍처 블록 체인 프로토콜의 지속적인 개발을 통해 암호 경제의 다원화 공감대 수요를 충족시키고, 다양한 분야에서 블록체인 기술의 적용을 촉진합니다.
                        </div>

                        <div class="invite_list_item bold_ft">
                            <div class="invite_list_item_radio"></div>
                            EOSIO 생태계에서 가장 활발하게 구동 중인 평행 메인넷인 EOSForce.io는 사용자에게 보다 우호적인 자원 모델을 제공하고, 개발자에게 보다 풍부한 블록체인 기초 지원을 제공하며, 커뮤니티에는 보다 공평한 관리 메커니즘을 제공합니다. 사용자는 매핑된 EOSIO의 Private Key 오프라인 서명을 사용하여 EOSForce.io 메인넷 자산을 활성화할 수 있습니다.
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </template>
                    <template v-if="lang == 'cn'">

                        <div class="invite_list_item bold_ft">
                            <div class="invite_list_item_radio"></div>
                            EOSFORCE致力于在实践中探索更开放的加密经济基础设施。通过持续开发多链架构区块链协议，满足加密经济的多元化共识需求，推动区块链技术在各个领域的应用。
                        </div>

                        <div class="invite_list_item bold_ft">
                            <div class="invite_list_item_radio"></div>
                            目前已完成并上线EOSIO生态最活跃的平行主网EOSForce.io, 为用户提供更友好的资源模型，为开发者提供更丰富的区块链底层支持，为社区提供更公平的治理机制。用户可使用映射过的EOSIO私钥离线签名激活EOSForce.io主网资产。
                        </div>
                        <!-- <div class="invite_list_item bold_ft">
                            <div class="invite_list_item_radio"></div>
                             EOSForce遵循EOS创世名单<br/>
                             1. 各位创世投资人可登录www.eosforce.io，下载钱包，灌入私钥，即可按照传世名单份额申领EOSForce。<br/>
                             2. 访问官方区块链浏览器，可以在线使用Scatter激活！
                        </div> -->
                        <br/>
                        <br/>
                        <br/>
                        <!-- <div class="invite_list_item bold_ft">
                            <div class="invite_list_item_radio"></div>
                            {{ get_lang('原力秉承比特币开放自由的精神，严守公平正义的底线，开发和运营活动没有进行过任何ICO和增发，矢志不渝为探索区块链而努力！', lang) }}
                        </div>
                        <div class="invite_list_item">
                            <div class="invite_list_item_radio"></div>
                            {{
                                get_lang('目前原力最有特色的是投票分红，充分体现了投资者权利，有效激活了社区。经过投资者们口口相传，目前已有4500万币在投票，这一数字还在迅速增长中！', lang)
                            }}
                        </div>
                        <div class="invite_list_item">
                            <div class="invite_list_item_radio"></div>
                            {{
                                get_lang('除了投票分红，EOSForce对EOS的治理、安全、公正性、合理性等做了多方面改进。', lang)
                            }}
                        </div>
                        <div class="invite_list_item">
                            <div class="invite_list_item_radio"></div>
                            {{
                                get_lang('比如，没有采用抵押或者购买资源的方式，而是采用简单易用的Gas模型，杜绝了资源暴涨暴跌对开发者和用户的影响。', lang)
                            }}
                        </div>
                        <div class="invite_list_item">
                            <div class="invite_list_item_radio"></div>
                            {{
                                get_lang('再如，在架构演进上，EOSForce的方案也非常安全高效。主链去掉了冗余功能，只进行结算，把智能合约放到侧链。这不仅提高了主链安全性，也为提升侧链效率打开了极大的想象空间。', lang)
                            }}
                        </div>
                        <div class="invite_list_item">
                            <div class="invite_list_item_radio"></div>
                            {{
                                get_lang('EOSForce遵循EOS创世名单，认可创世投资者为EOS的诞生作出的巨大贡献，感谢大家为EOS的诞生承担的的巨大风险！也希望各位投资者能够认可EOSForce为改善整个EOS生态、提升EOS创世投资者价值所作出的巨大努力！', lang)
                            }}
                        </div>
                        <div class="invite_list_item">
                            <div class="invite_list_item_radio"></div>
                            {{
                                get_lang('各位创世投资人登录www.eosforce.io，下载钱包，灌入私钥，即可按照传世名单份额申领EOSForce。', lang)
                            }}
                            <br/>
                            {{ get_lang('如果有安全担心，建议如下操作：', lang )}}<br/>
                            {{ get_lang('1、首先在原链上，将原链的资产转移给小号。如果是专业人士，推荐在原链上修改账户绑定的公钥。', lang)}}
                            <br/>
                            {{
                                get_lang('2、随后，在EOSForce官方钱包，灌入私钥，申领EOSForce。同样建议在EOSForce上将币转给小号，确保安全。然后投票即可享受分红！', lang)
                            }}<br/>
                        </div> -->
                    </template>
                </div>
            </div>
            <!-- invite_box -->
            <invite_history v-if="select_account" v-bind:account="select_account" v-on:hide="clear_select_account"></invite_history>
            

            <br/>
            <br/>
            <br/>
            <br/>
            <div class="style_load_img"></div>
        </div>
    </div>
</template>
<script>
import '../../assets/css/index.css';
import '../../assets/css/eos_invite.css';
import '../../assets/css/fadeload.css';
import '../../assets/css/mobile.css';
import '../../assets/css/eos_invite_mobile.css';
import '../../assets/image/web/favicon.ico';
import copy from 'clipboard-copy'
import { get_lang } from './lang_data.js'
import {
    time_plus_hours,
    wait_time
} from '../utils/utils.js'
import {
    get_most_invite,
    get_moset_invite_assets,
    get_most_bounds,
    get_bounds_summary
} from '../../service/eos_invite_service.js'
import {
    transfer,
    get_scatter_identity,
    get_available
} from '../../service/web_wallet_service.js'
import store from '../../data/store.js'
import invite_history from './invite_history.vue'
const lang_keys = new Set(['en', 'cn', 'kr']);
let lang = 'cn';
for(let i of lang_keys){
    if(window.location.href.match(i + '_')){
        lang = i;
        break ;
    }
}
export default {
    data () {
        return {
            transfer_moment: '',
            on_transfer: false,
            show_transfer_info: '',
            show_transfer_error_info: '',
            account_name: '',
            available: '',
            table_list: {
                get_most_invite: {
                    name: get_lang('邀请人数榜', lang),
                    is_load: false,
                    selected: true,
                    data: [],
                },
                get_moset_invite_assets: {
                    name: get_lang('邀请币数榜', lang),
                    is_load: false,
                    selected: false,
                    data: [],
                },
                get_most_bounds: {
                    name: get_lang('获奖榜', lang),
                    is_load: false,
                    selected: false,
                    data: [],
                }
            },
            lang: lang,
            total_sened: 0,
            my_account: '',
            show_info: false,
            error_info: '',
            now_time: new Date(),
            select_account: null
        }
    },
    computed : {
        letters () {
            if(this.lang == 'cn'){
                return `欢迎参加“原力回家行动”!活动期内，8月1日以后新激活的创世帐号(最初从ETH映射到原力的账户)，向checkin帐号转账0.0001 EOS Coin签到，留言附上推荐帐号${this.my_account}，双方可获10.24 EOS Coin激活奖和邀请奖！所有上级推荐人，依次减半获得推荐奖！活动结束时更为最佳推荐人开出3万 EOS Coin的壕礼！更多详情请访问www.eosforcegohome.com/eos_invite.html！`;
            }
            let en_str = `Throughout the promotion, any genesis accounts (accounts that were created through activation based on the EOS ERC20 snapshot) joining the EOSForce miannet after August 1st can receive EOS Coin rewards by simply activating their accounts on the EOSForce Mainnet.  Activation can be completed by transferring 0.0001 EOS Coin to the EOSForce account called “checkin”.  Once activation is successful, the user will receive a 10.24 EOS Coin reward.    Additionally, if the participant obtained the info from an existing EOSForce account holder, he/she can also enter the EOSForce ${this.my_account}’s name in the transaction’s memo section.  Once the transaction goes through and the memo info is confirmed, the recommending party will receive 10.24 EOS Coin as well.`;
            return en_str;
        },
        time_str () {
            let year = this.format_str(this.now_time.getFullYear()),
                month = this.format_str(this.now_time.getMonth() + 1),
                date = this.format_str(this.now_time.getDate()),
                hour = this.format_str(this.now_time.getHours()),
                min = this.format_str(this.now_time.getMinutes()),
                second = this.format_str(this.now_time.getSeconds())
            return `${year}-${month}-${date} ${hour}:${min}:${second}`;
        },
        head_height () {
            if(window.screen.width < 800){
                return {};
            }
            return {
                height: (1251 * window.screen.width) / 3840 + 'px'
            }
        },
        is_mobile () {
            return store.state.global_config.is_mobile;
        },
        has_scatter () {
            return store.state.global_config.has_scatter;  
        },
        share_text () {
            if(lang == 'kr'){
                return `방금 EOS Force 메인넷에서 재네시스 계정을 활성화 이벤트에 참여하여 200 EOSC를 추가 보상으로 받았습니다. 아직 활성화 안하신 재네시스 계정 보유자 분들도 얼른 가셔서 활성화 하시고 추가 보상을 받으세요! 초대 계정명: [${this.account_name}], 이벤트 참여 링크: https://t.co/ZxtVAQtmo2 `;
            }
            if(lang == 'cn'){
                return `我刚刚激活了我的原力创始代币并获得了200 EOSC激活奖励。激活你的创始账户并获得你的奖励！邀请人账户：[${this.account_name}]，链接：https://t.co/ZxtVAQtmo2`;
            }
            return `I just activated my EOSForce genesis tokens and got 200 EOSC activation rewards. Activate your genesis account and get your reward tokens now! Write inviter's account: [${this.account_name}], go to  https://t.co/ZxtVAQtmo2`;
        },
        twitter_share_txt () {
            return `https://twitter.com/intent/tweet?text=${this.share_text}`;
        }
    },
    components: {
        invite_history
    },
    mounted () {
        this.get_all_data();
        this.init_time();
    },
    watch: {
        has_scatter (current) {
            if(current){
                this.get_scatter_identity();
            }
        }
    },
    methods: {
        get_most_invite () {
            return new Promise((resolve, reject) => {
                this.table_list.get_most_invite.is_load = true;
                get_most_invite().then(res => {
                    console.log(res.data.Data);
                    this.table_list.get_most_invite.is_load = false;
                    this.table_list.get_most_invite.data.splice(0, 0, ...res.data.Data);
                });
            })
        },
        get_moset_invite_assets () {
            return new Promise((resolve, reject) => {
                this.table_list.get_moset_invite_assets.is_load = true;
                get_moset_invite_assets().then(res => {
                    console.log(res.data.Data);
                    this.table_list.get_moset_invite_assets.is_load = false;
                    this.table_list.get_moset_invite_assets.data.splice(0, 0, ...res.data.Data);
                });
            })
        },
        get_most_bounds () {
            return new Promise((resolve, reject) => {
                this.table_list.get_most_bounds.is_load = true;
                get_most_bounds().then(res => {
                    console.log(res.data.Data);
                    this.table_list.get_most_bounds.is_load = false;
                    this.table_list.get_most_bounds.data.splice(0, 0, ...res.data.Data);
                });
            })
        },
        get_bounds_summary () {
            return new Promise((resolve, reject) => {
                get_bounds_summary().then(res => {
                    // console.log(res.data.Data);
                    this.total_sened = res.data.Data;
                });
            })
        },
        get_all_data () {
            let ps = [];
            ps.push(this.get_most_invite());
            ps.push(this.get_moset_invite_assets());
            ps.push(this.get_most_bounds());
            ps.push(this.get_bounds_summary());
            Promise.all(ps).then(res => {
                setTimeout(() => {
                    this.get_all_data();
                }, 5000);
            });
        },
        select (item) {
            for(let i in this.table_list){
                this.table_list[i].selected = false;
            }
            item.selected = true;
        },
        init_copy (e) {
            if(!this.my_account){
                this.set_info('error_info', this.get_lang('请输入您的账号', this.lang));
                return ;
            }
            copy(this.letters);
            this.show_info = true;
            setTimeout(() => {
                this.show_info = false;
            }, 1000);
        },
        set_info (key, txt) {
            this[key] = txt;
            setTimeout(() => {
                this[key] = '';
            }, 2000);
        },
        format_str (str) {
            return parseInt(str) < 10 ? '0' + str : str;
        },
        init_time () {
            setTimeout(() => {
                this.now_time = new Date();
                this.init_time();
            }, 1000);
        },
        set_select_account (account) {
            this.select_account = account;
        },
        clear_select_account () {
            this.select_account = '';
        },
        async shadow_error_info (txt) {
            this.show_transfer_error_info = txt;
            await wait_time();
            this.show_transfer_error_info = false;
        },
        async transfer () {

            if(this.on_transfer) return ;
            // if(!this.transfer_moment){
            //     this.shadow_error_info(this.get_lang('未填写推荐人', this.lang));
            //     return ;
            // }
            if(this.transfer_moment.length > 12){
                this.shadow_error_info('用户名不能超过12个');
                return ;
            }

            this.on_transfer = true;
            let res = await transfer('checkin', 0.0001, this.transfer_moment, 'EOS');
            console.log(res, 'res');
            this.on_transfer = false;

            if(!res.is_error){
                this.show_transfer_info = true;
                await wait_time();
                this.show_transfer_info = false;
            }else{
                this.show_transfer_error_info = res.msg;
                await wait_time();
                this.show_transfer_error_info = false;
            }
        },
        async get_scatter_identity () {
            let res = await get_scatter_identity();
            if(!res.is_error){
                this.account_name = res.data.account_name;
                let available = await get_available();
                console.log(available);
                this.available = available.data.rows[0].available;
            }
            console.log(res);
        },
        async exchange () {
            let res = await get_scatter_identity(true);
            // if(!res.is_error){
                window.location.reload();
            // }
        },
        get_lang
    }
}
</script>



